*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: "Jost", sans-serif;
}
:root{
    --bg-color:#1d1c1b;
    --text-color:#fff;
    --main-color:#ea5445;
    --other-color:#858585;
    --add-header:#22211f;
    --h1-font:3.5rem;
    --p-font:1.1rem;
}

body{
    background-color: #1d1c1b;
}
.home {
    text-align: center;
    color:#fff;
    font-size: 20px;
 }
.home1{
    text-align: center;
    margin-top: 200px;
    color:#fff;
    font-size: 20px;
 }
 .home2{
    text-align: center;
     margin-top: 50px;
    color:#ea5445;
    font-size: 20px;
 }
 .home3{
    text-align: center;
      margin-top:50px;
    color:#fff;
    font-size: 20px;
 }


  
 