*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: "Jost", sans-serif;
}
:root{
    --bg-color:#1d1c1b;
    --text-color:#fff;
    --main-color:#ea5445;
    --other-color:#858585;
    --add-header:#22211f;
    --h1-font:3.5rem;
    --p-font:1.1rem;
}

body{
    background-color: #1d1c1b;
}
header{
    position:fixed;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    padding:16px 7%;
    display:flex;
    align-items: center;
    justify-content:center;
    transition:all .50s ease;
    color:var(--main-color)
}

/* .project-head{
    padding:15px;
    text-align:center;
    color:var(--main-color)
} */
.section-wrapper1{
    padding:100px 80px;
    margin-top:40px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    margin-bottom:15px;
}
.head h4{
    font-size:15px;
    color:var(--main-color);
}
.head i{
    color:var(--text-color)
}
.project-1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:var(--text-color);
    font-size: 20px;
    font-weight: 700;
    animation: slideIn 2s ease;
}

.sticky{
    background-color:var(--add-header);
}
@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(120px) translateY(30px);

    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }